{{define "content"}}
<h1>关于作者</h1>

<p>
    崔亮，85 后，毕业于河北工业大学软件工程专业。Yii Framework 中文网（<a href="https://www.yiichina.com">https://www.yiichina.com</a>）创始人，PHP.La（<a href="https://php.la">https://php.la</a>）站长，曾就职于聚美优品，新浪微博，现就职于新浪网。
</p>
<p>
    电子爱好者：目前业余时间正在使用树莓派，Arduino 做兴趣开发。
</p>
<p>
    音乐发烧友：喜欢功放、音响、耳放、耳机、DSD 音乐播放器。
</p>
<p>
    码农：正在使用 PHP、Go、Python 等编程语言开发。
</p>
<p>
    日常爱好：乒乓球、跑步、爬山、唱歌、听音乐。
</p>

<h3>GitHub：</h3>
<p>
    个人账号：<a href="https://github.com/cuileon">https://github.com/cuileon</a><br />
    Yii China：<a href="https://github.com/yiichina">https://github.com/yiichina</a><br />
    SINA CMS：<a href="https://github.com/sinacms">https://github.com/sinacms</a>
</p>
{{end}}