{{define "content"}}
<h1>网友留言</h1>
<ul class="media-list">
    {{range .Comments}}
    <li class="media">
        <img class="rounded mr-3" src="/images/noavatar.jpg" alt="">
        <div class="media-body">
            <div class="media-header">
                <span class="text-primary">门新闻</span> 评论于 2010-07-20 11:22
                <span class="float-right"></span>
            </div>
            {{.Content}}
            {{if len .SubComments}}
            <div class="hint">共 <em>{{len .SubComments}}</em> 条回复</div>
            {{range .SubComments}}
            <div class="media">
                <img class="rounded mr-2" src="/images/noavatar.jpg" alt="">
                <div class="media-body">
                    <div class="media-header">
                        <a href="https://www.cuiliang.com" target="_blank">{{.Author}}</a> 评论于 2010-12-23 13:03
                        <span class="float-right">
                            <a class="reply" href="javascript:void(0);"><i class="fas fa-reply"></i> 回复</a>
                        </span>
                    </div>
                    {{.Content}}
                </div>
            </div>
            {{end}}
            {{end}}
            <div class="media-footer">
                <a class="reply" href="javascript:void(0);"><i class="fas fa-reply"></i> 回复</a>
            </div>
        </div>
    </li>
{{end}}
</ul>
{{end}}