{{define "content"}}
<h1>{{.Post.Title}}</h1>
<div class="meta">
    <span><i class="fas fa-calendar-alt"></i> {{.Post.CreatedAt|ShortDateTime}}</span>
    <span><i class="fas fa-eye"></i> {{.Post.Views}}</span>
    <span><i class="far fa-comments"></i> <a href="/post/{{.Post.ID}}#comments">{{len .Post.Comments}}</a></span>
    <span><i class="far fa-folder-open"></i> <a href="/{{.Post.Category | CategoryPath}}">{{.Post.Category | CategoryName}}</a></span>
</div>
{{.Post.Content | MarkdownToHTML}}

<div id="comments">
    <div class="page-header">
        <h2>共 <em>{{len .Post.Comments}}</em> 条评论</h2>
        <ul id="w0" class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link active" href="/post/{{.Post.ID}}#comments">默认排序</a></li>
            <li class="nav-item"><a class="nav-link" href="/post/{{.Post.ID}}?sort=desc#comments">最后评论</a></li>
        </ul>
    </div>
    <ul id="w1" class="media-list">
        {{range .Comments}}
        <li class="media" data-key="84">
            <img class="rounded mr-3" src="/images/noavatar.jpg" alt="">
            <div class="media-body">
                <div class="media-header">
                    <span class="text-primary">{{.Author}}</span> 评论于 {{.CreatedAt}}
                    <span class="float-right"></span>
                </div>
                {{.Content | MarkdownToHTML}}
                {{if len .SubComments}}
                <div class="hint">共 <em>{{len .SubComments}}</em> 条回复</div>
                {{range .SubComments}}
                <div class="media">
                    <img class="rounded mr-2" src="/images/noavatar.jpg" alt="">
                    <div class="media-body">
                        <div class="media-header">
                            <a href="https://www.cuiliang.com" target="_blank">{{.Author}}</a> 评论于 {{.CreatedAt}}
                            <span class="float-right">
                                <a class="reply" href="javascript:void(0);"><i class="fas fa-reply"></i> 回复</a>
                            </span>
                        </div>
                        {{.Content | MarkdownToHTML}}
                    </div>
                </div>
                {{end}}
                {{end}}
                <div class="media-footer">
                    <a class="reply" href="javascript:void(0);"><i class="fas fa-reply"></i> 回复</a>
                </div>
            </div>
        </li>
        {{end}}
    </ul>
</div>
{{end}}