{{define "content"}}
<h1>关于</h1>

<p>
    崔亮，毕业于河北工业大学软件工程专业。Yii Framework 中文网（<a href="https://www.yiichina.com">https://www.yiichina.com</a>）创始人，曾就职于聚美优品，新浪网，现就职于微博机器学习研发团队，兼任新浪跑团团长。
</p>
<p>
    电子爱好者：业余时间正在使用树莓派，Arduino 做兴趣开发。
</p>
<p>
    音乐发烧友：喜欢功放、音响、耳放、耳机、DSD 音乐播放器。
</p>
<p>
    码农：正在使用 PHP、Go、Python、Lua、Java 等编程语言开发。
</p>
<p>
    日常爱好：跑步、乒乓球、爬山、唱歌、听音乐。
</p>
<p>
    马拉松成绩：半马 01小时35分44秒（大众一级选手），全马 03小时54分21秒（大众一级选手）。
</p>

<h3>GitHub：</h3>
<p>
    个人账号：<a href="https://github.com/cui-liang">https://github.com/cui-liang</a><br />
    Yii China：<a href="https://github.com/yii-china">https://github.com/yii-china</a><br />
</p>
{{end}}