{{define "content"}}
{{if .H2}}
<h1>{{.H2}}</h1>
{{end}}
<ul class="post-list">
    {{range .Posts}}
    <li>
        <h2><a href="/post/{{.ID}}">{{.Title}}</a></h2>
        <div class="meta">
            <span><i class="fas fa-calendar-alt"></i> {{.CreatedAt|ShortDateTime}}</span>
            <span><i class="fas fa-eye"></i> {{.Views}}</span>
            <span><i class="far fa-comments"></i> <a href="/post/{{.ID}}#comments">{{len .Comments}}</a></span>
            <span><i class="far fa-folder-open"></i> <a href="/{{.Category|CategoryPath}}">{{.Category|CategoryName}}</a></span>
            {{if $.IsAdmin}}
            <a class="btn btn-sm btn-primary ms-auto" href="/post/update/{{.ID}}"><i class="fas fa-edit"></i> 修改</a>
            {{end}}
        </div>
        {{.Excerpt | MarkdownToHTML}}
        <ul class="list-inline">
            {{range .Tags}}
            <li class="list-inline-item"><a class="badge" href="/tag/{{.Name}}">{{.Name}}</a></li>
            {{end}}
        </ul>
    </li>
    {{end}}
</ul>
{{if gt .PageCount 1}}
<ul class="pagination">
    <li class="page-item{{if eq $.Page 1}} disabled{{end}}"><a class="page-link" href="{{.PagePath}}1" aria-label="First"><i class="fa fa-angle-left"></i></a></li>
    <li class="page-item{{if eq $.Page 1}} disabled{{end}}"><a class="page-link" href="{{.PagePath}}{{.PrePage}}" aria-label="Previous"><i class="fa fa-angle-double-left"></i></a></li>
    {{ range $i := .Pages }}
    <li class="page-item{{if eq $.Page $i}} active{{end}}"><a class="page-link" href="{{$.PagePath}}{{$i}}">{{$i}}</a></li>
    {{ end }}
    <li class="page-item{{if eq $.Page $.PageCount}} disabled{{end}}"><a class="page-link" href="{{.PagePath}}{{.NextPage}}" aria-label="Next"><i class="fa fa-angle-double-right"></i></a></li>
    <li class="page-item{{if eq $.Page $.PageCount}} disabled{{end}}"><a class="page-link" href="{{.PagePath}}{{.PageCount}}" aria-label="Last"><i class="fa fa-angle-right"></i></a></li>
</ul>
{{end}}
{{end}}