{{define "content"}}
<h1>{{.Post.Title}}</h1>
<div class="meta">
    <span><i class="fas fa-calendar-alt"></i> {{.Post.CreatedAt|ShortDateTime}}</span>
    <span><i class="fas fa-eye"></i> {{.Post.Views}}</span>
    <span><i class="far fa-comments"></i> <a href="/post/{{.Post.ID}}#comments">{{len .Post.Comments}}</a></span>
    <span><i class="far fa-folder-open"></i> <a href="/{{.Post.Category | CategoryPath}}">{{.Post.Category | CategoryName}}</a></span>
    {{if $.IsAdmin}}
    <a class="btn btn-sm btn-primary ms-auto" href="/post/update/{{.Post.ID}}"><i class="fas fa-edit"></i> 修改</a>
    {{end}}
</div>
{{.Post.Content | MarkdownToHTML}}

<div id="comments">
    <div class="page-header">
        <h2>共 <em>{{len .Post.Comments}}</em> 条评论</h2>
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link active" href="/post/{{.Post.ID}}#comments">默认排序</a></li>
            <li class="nav-item"><a class="nav-link" href="/post/{{.Post.ID}}?sort=desc#comments">最后评论</a></li>
        </ul>
    </div>
    <ul class="comment-list">
        {{range .Comments}}
        <li class="d-flex">
            <div class="flex-shrink-0">
                <img class="rounded" src="/images/noavatar.jpg" alt="">
            </div>
            <div class="flex-grow-1 ms-3">
                <div class="meta">
                    <span class="text-primary">{{.Author}}</span> 评论于 {{.CreatedAt}}
                    {{if $.IsAdmin}}
                    <span class="ms-auto"><a href="/comment/edit/{{.ID}}">修改</a> <a href="/comment/delete/{{.ID}}">删除</a></span>
                    {{end}}
                </div>
                {{.Content | MarkdownToHTML}}
                {{if len .SubComments}}
                <div class="hint">共 <em>{{len .SubComments}}</em> 条回复</div>
                {{range .SubComments}}
                <div class="d-flex">
                    <div class="flex-shrink-0">
                        <img class="rounded" src="/images/noavatar.jpg" alt="">
                    </div>
                    <div class="flex-grow-1 ms-2">
                        <div class="meta">
                            <a href="https://www.cuiliang.com" target="_blank">{{.Author}}</a> 评论于 {{.CreatedAt}}
                            <span class="float-end">
                                <a class="reply" href="javascript:void(0);"><i class="fas fa-reply"></i> 回复</a>
                            </span>
                        </div>
                        {{.Content | MarkdownToHTML}}
                    </div>
                </div>
                {{end}}
                {{end}}
                <div class="mb-2">
                    <a class="reply" href="javascript:void(0);"><i class="fas fa-reply"></i> 回复</a>
                </div>
            </div>
        </li>
        {{end}}
    </ul>
</div>

<div id="comment">
    <div class="page-header">
        <h2>我要评论</h2>
    </div>
    {{if .FullName}}
    <form action="/comment/create" method="post">
        <input type="hidden" name="PostID" value="{{ .Post.ID }}">
        <div class="mb-3 required">
            <label class="form-label" for="content">内容</label>
            <textarea id="content" class="form-control" name="content" aria-required="true"></textarea>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">提交</button>
        </div>
    </form>
    {{else}}
    请登录后发表评论 <a href="/login">点击登录</a>
    {{end}}
</div>
{{end}}