{{define "content"}}
<h1>注册</h1>
<form action="/register" method="post">
    <div class="mb-3">
        <label for="username">用户名</label>
        <input type="text" id="username" class="form-control" name="username">
    </div>
    <div class="mb-3">
        <label for="full_name">姓名</label>
        <input type="text" id="full_name" class="form-control" name="full_name">
    </div>
    <div class="mb-3">
        <label for="email">邮箱</label>
        <input type="text" id="email" class="form-control" name="email">
    </div>
    <div class="mb-3">
        <label for="password">密码</label>
        <input type="password" id="password" class="form-control" name="password" value="">
    </div>
    <div class="mb-3">
        <label for="password_confirm">确认密码</label>
        <input type="password" id="password_confirm" class="form-control" name="password_confirm" value="">
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary" name="login-button">注册</button>
    </div>
</form>
{{end}}