body {
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Hiragino Sans GB W3", "WenQuanYi Micro Hei", "Microsoft YaHei UI", "Microsoft YaHei", sans-serif;
}

.media .hint, .media .media-body .media-header, .media .media-body .media-footer, .footer .container, .col-lg-9 .meta, .list-inline .badge {
  color: #6c757d;
}

.media .media-body .media-header .float-right a, .media .media-body .media-footer a, .col-lg-9 .meta span a {
  color: #6c757d;
}
.media .media-body .media-header .float-right a:hover, .media .media-body .media-footer a:hover, .col-lg-9 .meta span a:hover {
  color: #494f54;
  text-decoration: none;
}

h1 {
  font-size: 1.875rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}

img {
  max-width: 100%;
  height: auto;
}

pre {
  border-radius: 0.25rem;
}

blockquote {
  background-color: #e2e3e5;
  border-left: 0.25rem solid #848b92;
  color: #383d41;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}
blockquote ul, blockquote ol {
  margin-bottom: 0;
  padding-left: 1rem;
}
blockquote p:last-child {
  margin-bottom: 0;
}

.list-inline .badge {
  font-weight: normal;
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.col-lg-9 h1 {
  margin-top: 1rem;
}
.col-lg-9 > .meta {
  padding-bottom: 1rem;
  border-bottom: rgba(0, 0, 0, 0.1) solid 1px;
  margin-bottom: 1rem;
}
.col-lg-9 ol, .col-lg-9 ul:not(.list-inline) {
  padding-left: 1rem;
}
.col-lg-9 ul.post-list, .col-lg-9 ul.media-list {
  padding-left: 0;
  list-style: none;
}
.col-lg-9 ul.post-list > li, .col-lg-9 ul.media-list > li {
  margin-top: 1rem;
}
.col-lg-9 ul.post-list > li:not(:last-child), .col-lg-9 ul.media-list > li:not(:last-child) {
  border-bottom: rgba(0, 0, 0, 0.1) solid 1px;
}
.col-lg-9 ul.post-list .pagination, .col-lg-9 ul.media-list .pagination {
  padding-left: 0;
  list-style: none;
  margin-top: 1rem;
}
.col-lg-9 .meta {
  margin-bottom: 1rem;
}
.col-lg-9 .meta span {
  margin-right: 1rem;
}
.col-lg-9 .page-header {
  border-bottom: #dee2e6 solid 1px;
  margin-bottom: 1rem;
}
@media (min-width: 576px) {
  .col-lg-9 .page-header {
    display: flex;
  }
  .col-lg-9 .page-header h2 {
    margin-right: auto;
  }
  .col-lg-9 .page-header .nav-tabs {
    font-size: 0.875rem;
    align-self: flex-end;
    border-bottom: none;
  }
  .col-lg-9 .page-header .btn {
    align-self: center;
  }
}
.col-lg-9 .page-header em {
  color: #dc3545;
  font-weight: bold;
  font-style: normal;
}
.col-lg-9 p img {
  max-width: 80%;
}

.col-lg-3 h2 {
  margin-top: 1rem;
  padding-bottom: 0.5rem;
}
.col-lg-3 ul {
  padding-left: 0;
  list-style: none;
}
.col-lg-3 ul .media .media-body {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.col-lg-3 ul .media .media-body .media-header {
  margin-bottom: 0;
}
.col-lg-3 ul .media:not(:last-child) {
  margin-bottom: 0.75rem;
  padding-bottom: 0.5rem;
}
.col-lg-3 .comments li {
  border-bottom: rgba(0, 0, 0, 0.1) dashed 1px;
}

.footer .container {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

a.back-to-top {
  position: fixed;
  bottom: 8rem;
  right: 1rem;
  border-radius: 50%;
  display: none;
  z-index: 999;
  cursor: pointer;
  font-size: 2rem;
  width: 48px;
  height: 48px;
  text-align: center;
  background: rgba(0, 0, 0, 0.35);
}
a.back-to-top .fa-angle-up {
  color: #fff;
}
a.back-to-top:hover {
  background: rgba(0, 0, 0, 0.5);
}

.media-list {
  padding-left: 0;
  list-style: none;
}
.media-list li.media:not(:last-child) {
  border-bottom: rgba(0, 0, 0, 0.1) solid 1px;
}
.media-list li.media .media {
  padding-top: 1rem;
  border-top: rgba(0, 0, 0, 0.1) solid 1px;
}

.media .media-body {
  word-break: break-all;
}
.media .media-body .media-header, .media .media-body .media-footer {
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
}
.media .media-body .media-footer {
  margin-top: 0.5rem;
}
.media .hint {
  margin: 0.5rem 0;
}
.media .hint em {
  color: #dc3545;
  font-weight: bold;
  font-style: normal;
}

.calendar {
  width: 100%;
  table-layout: fixed;
  max-width: 500px;
  text-align: center;
}
.calendar thead th {
  text-align: center;
  line-height: 2rem;
  font-size: 1.125rem;
}
.calendar thead th:first-child, .calendar thead th:last-child {
  color: #dc3545;
}
.calendar tbody tr td {
  padding: 0;
  height: 35px;
}
.calendar tbody tr td .btn {
  padding: 2px 0;
  width: 30px;
  border-radius: 50%;
}

/*# sourceMappingURL=main.css.map */
